.body {
  padding: 0 20px !important;
}

.footer {
  button {
      padding: 10px 24px !important;
      border : 1px solid $liberty-blue !important;
      width  : auto !important;
  }
}

.btnLabel {
  font-size  : 17px;
  font-weight: 500;
  line-height: 20px;
}